doctype html
html
  head
    title='Sarkasmus-Detector'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    main 
      block content
